<body>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Imagen </th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
            <th>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Categoria</label>
                    <select [(ngModel)]="this.filtro" class="form-control" id="exampleFormControlSelect1" (change)="categoria()">
                      <option value="">Seleccione categoria</option>
                      <option *ngFor="let categoria of this.categorias" value="{{categoria.id_categoria}}">{{categoria.nombre_categoria}}</option>
                    </select>
                  </div>
            </th>
            <th>
                <button [routerLink]="['/carrito']" type="button" class="btn btn-light btn-lg margen">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="this.filtro != ''">
          <tr *ngFor="let dato of this.datosFiltro">
            <td class="imagen"><img [src]="(dato.imagen | producto: dato.id)"></td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.descripcion}}</td>
            <td>{{dato.precio}}</td>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <button type="button" (click)="menos(dato.id)" class="btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg></button>
                  <input type="number" value ="{{dato.cantidad}}" disabled="true" class="form-control">
                  <button type="button" (click)="mas(dato.id)" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></button>
                </div>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="agregarProducto(dato.id)">Agregar</button>
            </td>
          </tr>
          <tr>
            <td>Total: {{this.total}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="this.filtro == ''">
          <tr *ngFor="let dato of this.datos">
            <td class="imagen"><img [src]="(dato.imagen | producto: dato.id)"></td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.descripcion}}</td>
            <td>{{dato.precio}}</td>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <button type="button" (click)="menos(dato.id)" class="btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg></button>
                  <input type="number" value ="{{dato.cantidad}}" disabled="true" class="form-control">
                  <button type="button" (click)="mas(dato.id)" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></button>
                </div>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="agregarProducto(dato.id)">Agregar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
